<!--
<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content class="bgLight" padding>
  <img class="logo" src="../../../assets/Mi publicación (8).png">

    <ion-input class="softInputLight" [(ngModel)]="email" placeholder=" e-mail" type="email" inputmode="email"></ion-input>
    <br>
    <ion-input class="softInputLight" [(ngModel)]="password" placeholder=" contraseña" type="password"></ion-input>
    <br>

    <ion-button (click)="onSubmitLogin()" expand="block" class="entrarLight">Entrar</ion-button>
  
    <ion-label class="labelLight1">¿Olvidaste tu contraseña?</ion-label>
    <ion-label (click)="goToSingin()"  class="labelLight2">¿Eres nuevo? ¡Registrate!</ion-label>
   
    <ion-button class="softButtonLight1" (click)="authService.GoogleAuth()" ><ion-icon size="large" name="logo-google"></ion-icon></ion-button>

    <ion-button class="softButtonLight2"><ion-icon size="large" name="logo-facebook"></ion-icon></ion-button>
    <br>

    <ion-label class="labelInvitado" (click)="onSubmitInvitado()">Entra como invitado</ion-label>
   
</ion-content>
