<ion-header>
  <ion-toolbar>
    <ion-title>Paradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgLight">
  
  <ion-item class="cartaLightPerfil" *ngFor="let parada of paradas" (click)="goToMap()">

    <ion-label class="letra">
      <h2><ion-icon name="bus-outline"></ion-icon> {{parada.parada}}</h2>
      
      <p><ion-icon name="location-outline"></ion-icon> {{parada.direccion}}</p>
   
      <p><ion-icon name="navigate-outline"></ion-icon> {{parada.rutas}}</p>
    </ion-label>     

</ion-item>
</ion-content>
